$primary-color: #354F52;
$second-color: #6D9582;
$accent-color: #FFD700;
$purple-color: #9370DB;
$warn: #9b0000;
$white: #fff;

$color-link: $primary-color;
$color-link-hover: $second-color;

$button-color:  $primary-color;
$button-color-hover: $second-color;

